<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>

    {% include "partials/base.html" %}
    {% include "partials/tonav.html" %}
    {% block content  %} 
       <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                <div class="border bg-white p-3">
                    <h4>Add Products</h4>
                    <hr>
                    <form method="POST">
                    {% csrf_token %}
                    {{ form }}

                    <input class="btn btn-success btn-block" type="submit" value="Add Product">

                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <th scope="row">1</th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="{% url 'dashboard-products-update' item.id %}">Edit</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'dashboard-products-delete' item.id %}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <!--End Table-->

    {% endblock  %}
</body>
</html>